doctype html
html
    head
        title Companier
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-resource/angular-resource.min.js')
        script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/bower_components/angular-file-upload/angular-file-upload.min.js')
        script(src='/bower_components/chosen/chosen.jquery.min.js')
        link(rel="stylesheet",href="/bower_components/chosen/chosen.min.css")
        script(src='/bower_components/angular-chosen-localytics/chosen.js')
        script( src="/public/js/companier.min.js")
    body(ng-app="companier")
        nav.navbar.navbar-default
            .navbar-header
                a.navbar-brand(ui-sref="main") Companier
            ul.nav.navbar-nav
                li
                    a(ui-sref="category") Category
                li
                    a(ui-sref="company") Company
                li
                    a(ui-sref="catalog") Catalog
        .container
            .row
                .col-md-4(ui-view="list")
                .col-md-8(ui-view="data")